<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>index</title>
	<meta name="keywords" content="index" />
	<meta name="description" content="" />
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="<%=cdnenv%>dist/css/index.css">
</head>
<body>
	<div class="wrap">sadfasdf</div>

	<script src="<%=cdnenv%>dist/js/vendor.js"></script>
	<script src="<%=cdnenv%>dist/js/index.js"></script>
</body>
</html>